.expressive-code pre.mermaid {
  justify-content: center;
}

.expressive-code pre.mermaid *:not(path) {
  all: revert-layer;
}

.hidden {
  display: none !important;
}

.monaco-scrollable-element {
  margin-top: 0 !important;
}

.monaco-editor div {
  margin-top: 0 !important;
}
