---
import Default from '@astrojs/starlight/components/Footer.astro';
---

<Default {...Astro.props}>
  <slot />
</Default>
<p>Created by <a href="https://tokens.studio">Tokens Studio</a> - Andrew, Joren, Mike</p>
